<!DOCTYPE html> 
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./img/logo.png" alt="unable to load image">
            <p>This website is made by {{name}}. It uses data from mapboxAPI and the weatherStackAPI to generate the results that you see.</p>
        </div>
        {{>footer}}
    </body>
</html>